// font
$font: Nunito, sans-serif;

// colors
$dark: rgb(29, 29, 29);
$darkAlt: rgb(89, 89, 89);
$light: rgb(255, 255, 255);
$lightAlt: rgb(252, 252, 252);
$primary: rgb(86, 131, 255);
$bg: rgb(244, 244, 255);

// spacing
$spacing-md: 8px;
$spacing-lg: 16px;

// border radius
$borderRadius: 0.25em;

// header height
$headerHeight: 64px;
$headerMobileHeight: 55px;